@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,700');

body {
	background-color: #30323d;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%234b4f63' fill-opacity='0.4'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	text-align: center;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	align-items: center;
}

h1 {
	font-size: 3em;
	color: #ffb400;
	font-weight: 700;
}

h2 {
	color: #cdd1c4;
	font-weight: 500;
}

h4 {
	font-size: 2em;
}

.videoBox {
	width: 640px;
	max-height: 580px;
	display: inline-block;
	padding: 10px;
	border: 5px solid #e8c547;
	margin: 0px 20px 40px 20px;
	overflow-y: auto;
	text-align: left;
	align-items: center;
}

a {
	text-decoration: none;
	color: white;
}
